{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}
<table border="1" cellpadding="5" cellspacing="0" style="width: 100%;">
    <thread> Contact table
        <tr>
            <td>ID</td><td>Email</td>
            <td>Subject</td><td>Message</td>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>{{ contactus.id }}</td>
            <td>{{ contactus.email_from }}</td>
            <td>{{ contactus.subject }}</td>
            <td>{{ contactus.message }}</td>
        </tr>
    </tbody>
</table>
{% endblock content %}