{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}
<div class="row col-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contactus.id }}</td>
                <td>{{ contactus.name }}</td>
                <td>{{ contactus.email_from }}</td>
                <td>{{ contactus.subject }}</td>
                <td>{{ contactus.message }}</td>
            </tr>
        </tbody>
        </table>
    </div>
{% endblock content %}