{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}

<a href="{% url 'currency:contact-create' %}">Create</a><br>
<div class="row col-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email_from }}</td>
                <td>{{ contact.subject }}</td>
                <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="{% url 'currency:contact-detail' contact.id %}">Detail</a>
                        <a class="dropdown-item" href="{% url 'currency:contact-update' contact.id %}">Update</a>
                        <a class="dropdown-item" href="{% url 'currency:contact-delete' contact.id %}">Delete</a>
                    </ul>
                    </div>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}