{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}
<table border="1" cellpadding="5" cellspacing="0" style="width: 100%;">
    <thread>Rates table
        <tr>
            <th>ID</th><th>Buy</th><th>Sell</th><th>Currency</th>
            <th>Source</th>
        {% if not request.user.is_anonymous %}
            <th>Detail</th>
        {% endif %}
        {% if request.user.is_superuser %}
            <th>Update</th><th>Delete</th>
        {% endif %}
        </tr>
        <a href="{% url 'currency:rate-create' %}">Create</a>
        {% for rate in object_list %}
            <tr>
                <td>{{ rate.id }}</td> 
                <td>{{ rate.buy }}</td>
                <td>{{ rate.sell }}</td>
                <td>{{ rate.get_currency_display }}</td>
                <td>{{ rate.source }}</td>
                {% if request.user.is_authenticated %}
                    <td><a href="{% url 'currency:rate-detail' rate.id %}">Detail</a></td>
                {% endif %}
                {% if request.user.is_superuser %}
                    <td><a href="{% url 'currency:rate-update' rate.id %}">Update</a></td>
                    <td><a href="{% url 'currency:rate-delete' rate.id %}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </thread>
</table>
{% endblock content %}
