{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}
<div class="row col-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Buy</th>
            <th scope="col">Sale</th>
            <th scope="col">Currency</th>
            <th scope="col">Source</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ rate.id }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.sale }}</td>
                <td>{{ rate.get_currency_display }}</td>
                <td>{{ rate.source }} <img src="{{ rate.source.avatar_url }}" width="30" height="30"> </td>
                <td>{{ rate.created }}</td>
            </tr>
        </tbody>
        </table>
    </div>
{% endblock content %}
    