{% extends 'base.html'%}

{% block title %}
    Request Response Log
{% endblock title %}

{% block content %}
<div class="row col-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Path</th>
            <th scope="col">Request method</th>
            <th scope="col">Time</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for RequestResponseLog in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ RequestResponseLog.id }}</td>
                <td>{{ RequestResponseLog.path }}</td>
                <td>{{ RequestResponseLog.request_method }}</td>
                <td>{{ RequestResponseLog.time }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="{% url 'currency:req-delete' RequestResponseLog.id %}">Delete</a>
                        </ul>
                        </div>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endblock content %}   
