{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title %}

{% block content %}
<table border="1" cellpadding="5" cellspacing="0" style="width: 100%;">
    <thread> Source table
        <tr>
            <th>ID</th><th>Name</th><th>URL</th><th>Country</th>
            <th>City</th><th>Details</th><th>Update</th><th>Delete</th>
        </tr>
        <a href="/source/create">Create</a>
        {% for source in sources %}
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.name }}</td>
                <td>{{ source.source_url }}</td>
                <td>{{ source.country }}</td>
                <td>{{ source.city }}</td>
                <td><a href="/source/details/{{ source.id }}/">Details</a></td>
                <td><a href="/source/update/{{ source.id }}/">Update</a></td>
                <td><a href="/source/delete/{{ source.id }}/">Delete</a></td>
            </tr>
        {% endfor %}
    </thread>
</table>
{% endblock content %}