{% extends 'base.html' %}

 {% block title %}
    Source
{% endblock title %}

{% block content %}
<div class="row col-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.name }} <img src="{{ source.avatar_url }}" width="30" height="30"></td>
                <td>{{ source.source_url }}</td>
                <td>{{ source.country }}</td>
                <td>{{ source.city }}</td>
            </tr>
        </tbody>
        </table>
    </div>
{% endblock content %}