{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title %}

{% block content %}
<table border="1" cellpadding="5" cellspacing="0" style="width: 100%;">
    <thread> Source table
        <tr>
            <th>ID</th><th>Name</th><th>URL</th><th>Country</th>
            <th>Details</th><th>Update</th><th>Delete</th>
        </tr>
        <a href="{% url 'currency:source-create' %}">Create</a>
        {% for source in object_list %}
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.name }}</td>
                <td>{{ source.source_url }}</td>
                <td>{{ source.country }}</td>
                <td><a href="{% url 'currency:source-detail' source.id %}">Detail</a></td>
                <td><a href="{% url 'currency:source-update' source.id %}">Update</a></td>
                <td><a href="{% url 'currency:source-delete' source.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </thread>
</table>
{% endblock content %}